<!DOCTYPE html  "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="gs-sidebar" class="sidebar" data-background-color="white" data-active-color="danger">

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
               Geek-Store admin
            </a>
        </div>
        <aside id="sidebar" class="nav">
            <h3>Customers</h3>
            <ul class="toggle">
                <li class="icn_profile"><a th:href="@{/customers}" >All</a></li>
                <li class="icn_add_user"><a th:href="@{/customers/new}">Add Customer</a></li>
                <li class="icn_view_users"><a th:href="@{/customers/1/edit}">Edit Customer</a></li>
            </ul>
            <h3>Orders</h3>
            <ul class="toggle">
                <li class="icn_categories"><a th:href="@{/orders}">All</a></li>
                <li class="icn_new_article"><a href="#">Add Order</a></li>
                <li class="icn_edit_article"><a th:href="@{/orders/1/edit}">Edit Order</a></li>
            </ul>
            <h3>Categories</h3>
            <ul class="toggle">
                <li class="icn_categories"><a th:href="@{/category}">All</a></li>
                <li class="icn_new_article"><a th:href="@{/category/new}">New Category</a></li>
                <li class="icn_edit_article"><a th:href="@{/category/1/edit}">Edit Category</a></li>
            </ul>
            <h3>Products</h3>
            <ul class="toggle">
                <li class="icn_categories"><a th:href="@{/product}">All</a></li>
                <li class="icn_new_article"><a th:href="@{/product/new}">New Product</a></li>
                <li class="icn_edit_article"><a th:href="@{/product/1/edit}">Edit Product</a></li>
            </ul>
            <h3>Admin</h3>
            <ul class="toggle">
                <li class="icn_settings"><a href="#">Options</a></li>
                <li class="icn_security"><a href="#">Security</a></li>
                <li class="icn_jump_back"><a href="javascript:formSubmit()">Logout</a></li>
                <form th:action="@{/logout}" method="post" id="logoutForm">
                    <input type="hidden" name="${_csrf.parameterName}"
                           value="${_csrf.token}" />
                </form>
            </ul>

            <script>
                function formSubmit() {
                    document.getElementById("logoutForm").submit();
                }
            </script>

            <footer>
                <hr />
                <p><strong>Copyright &copy; 2017 Geek-Store Admin</strong></p>
                <p>Theme by <a href="http://geekhub.ck.ua/">GeekHub</a></p>
            </footer>
        </aside>

    </div>
</div>
</body>
</html>