
#sidebar h3 {
    color: #1F1F20;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    font-size: 13px;
    margin: 10px 0 10px 6%;
    display: block;
    float: left;
    width: 90%;
}

.toggleLink {
    color: #999999;
    font-size: 10px;
    text-decoration: none;
    display: block;
    float: right;
    margin-right: 2%
}

#sidebar .toggleLink:hover {
    color: #77BACE;
    text-decoration: none;
}

#sidebar ul {
    clear: both;
    margin: 0; padding: 0;
}

#sidebar li {
    list-style: none;
    margin: 0 0 0 12%; padding: 0;
}

#sidebar li a {
    color: #666666;
    padding-left: 25px;
    text-decoration: none;
    display: inline-block;
    height: 17px;
    line-height: 17px;
    text-shadow: 0 1px 0 #fff;
    margin: 2px 0;
}

#sidebar li a:hover {
    color: #444444;
}

#sidebar li.icn_new_article a {
    background: url(/static/img/icons/icn_new_article.png) no-repeat center left;
}
#sidebar li.icn_edit_article a {
    background: url(/static/img/icons/icn_edit_article.png) no-repeat center left;
}
#sidebar li.icn_categories a {
    background: url(/static/img/icons/icn_categories.png) no-repeat center left;
}
#sidebar li.icn_tags a {
    background: url(/static/img/icons/icn_tags.png) no-repeat center left;
}
#sidebar li.icn_add_user a {
    background: url(/static/img/icons/icn_add_user.png) no-repeat center left;
}
#sidebar li.icn_view_users a {
    background: url(/static/img/icons/icn_view_users.png) no-repeat center left;
}
#sidebar li.icn_profile a {
    background: url(/static/img/icons/icn_profile.png) no-repeat center left;
}
#sidebar li.icn_folder a {
    background: url(/static/img/icons/icn_folder.png) no-repeat center left;
}
#sidebar li.icn_photo a {
    background: url(/static/img/icons/icn_photo.png) no-repeat center left;
}
#sidebar li.icn_audio a {
    background: url(/static/img/icons/icn_audio.png) no-repeat center left;
}
#sidebar li.icn_video a {
    background: url(/static/img/icons/icn_video.png) no-repeat center left;
}
#sidebar li.icn_settings a {
    background: url(/static/img/icons/icn_settings.png) no-repeat center left;
}
#sidebar li.icn_security a {
    background: url(/static/img/icons/icn_security.png) no-repeat center left;
}
#sidebar li.icn_jump_back a {
    background: url(/static/img/icons/icn_jump_back.png) no-repeat center left;
}

#sidebar p {
    color: #666666;
    padding-left: 6%;
    text-shadow: 0 1px 0 #fff;
    margin: 10px 0 0 0;}

#sidebar a {
    color: #666666;
    text-decoration: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

#sidebar footer {
    margin-top: 20%;
}
