<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="page" type="com.geekhub.core.web.pagination.Page"*/-->
<div th:replace="fragments/header :: #gs-header"></div>

<script th:inline="javascript">
    var pageCount = [[${page.pageCount}]];
    var page = [[${page.page}]];
    var perPage = [[${page.perPage}]];
    paginCarousel(page, perPage, pageCount);
</script>

<body>

<div class="wrapper">
    <div th:replace="fragments/sidebar :: #gs-sidebar"></div>

    <div class="main-panel">
        <div th:replace="fragments/navbar-header :: #gs-navbar-header"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">

                                <form class="typeahead" role="search">
                                    <div class="form-group">
                                        <input id="search" type="search" name="q" class="form-control search-input" data-provide="typeahead"  placeholder="Search"
                                               autocomplete="off" />
                                    </div>
                                </form>

                            </div>

                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Parent Category</th>

                                    </tr>
                                    </thead>

                                    <tbody id="content">
                                    <tr class='clickable-row' th:each="category : ${page.items}" th:href="@{'/category/'+ ${category.currentId} +'/edit'}">
                                        <td th:text="${category.currentId}"></td>
                                        <td th:text="${category.currentTitle}"></td>
                                        <td th:text="${category.parentTitle}">#0000</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table align="center">
                                    <thead>
                                    <tr>
                                        <th><a class="btn btn-default" th:href="@{/category(pageId=1)}">first</a>
                                        </th>
                                        <th><a class="btn btn-default"
                                               th:href="@{/category(pageId=${page.page == 1 ? 1 : page.page - 1})}">prev</a></th>

                                        <th id="pagin_carousel">

                                        </th>

                                        <th><a class="btn btn-default"
                                               th:href="@{/category(pageId=${page.page == page.pageCount ? page.page : page.page + 1})}">next</a></th>
                                        <th><a class="btn btn-default"
                                               th:href="@{/category(pageId=${page.pageCount})}">last</a></th>
                                    </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: #gs-footer"></div>

    </div>
</div>
</body>

</html>
