<!DOCTYPE html  "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="page" type="com.geekhub.core.web.pagination.Page"*/-->
<!--/*@thymesVar id="items" type="java.util.List"*/-->

<div th:replace="fragments/header :: #gs-header"></div>

<script th:inline="javascript">
    var pageCount = [[${page.pageCount}]];
    var page = [[${page.page}]];
    var perPage = [[${page.perPage}]];
        paginCarousel(page, perPage, pageCount);
</script>

<body>
<div class="wrapper">

    <div th:replace="fragments/sidebar :: #gs-sidebar"></div>

    <div class="main-panel">
        <div th:replace="fragments/navbar-header :: #gs-navbar-header"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">

                                <form class="typeahead" role="search">
                                    <div class="form-group">
                                        <input id="search" type="search" name="q" class="form-control search-input"
                                               data-provide="typeahead" placeholder="Search"
                                               autocomplete="off"/>
                                    </div>
                                </form>
                            </div>

                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Second Name</th>
                                        <th>Gender</th>
                                        <th>Birth Date</th>
                                        <th>Telephone</th>
                                        <th>Email</th>
                                        <th>Password</th>
                                    </tr>
                                    </thead>

                                    <tbody id="content">

                                    <tr class='clickable-row' th:each="cust : ${page.items}"
                                        th:href="@{'/customers/'+ ${cust.id} +'/edit'}">
                                        <td th:text="${cust.id}"></td>
                                        <td th:text="${cust.firstName}"></td>
                                        <td th:text="${cust.lastName}"></td>
                                        <td th:text="${cust.gender}"></td>
                                        <td th:text="${cust.birthDate}"></td>
                                        <td th:text="${cust.telephone}"></td>
                                        <td th:text="${cust.emailAddress}"></td>
                                        <td th:text="${cust.password}"></td>
                                    </tr>
                                    </tbody>

                                </table>

                                <table align="center">
                                    <thead>

                                    <tr id="array">
                                        <th><a class="btn btn-default" th:href="@{/customers(pageId=1)}">first</a>
                                        </th>
                                        <th>
                                            <a id="prev" class="btn btn-default"
                                               th:href="@{/customers(pageId=${page.page == 1 ? 1 : page.page - 1})}">prev</a>
                                        </th>

                                        <th id="pagin_carousel">

                                        </th>

                                        <th>
                                            <a class="btn btn-default"
                                               th:href="@{/customers(pageId=${page.page == page.pageCount ? page.page : page.page + 1})}">next</a></th>
                                        <th><a class="btn btn-default"
                                               th:href="@{/customers(pageId=${page.pageCount})}">last</a>
                                        </th>
                                    </tr>

                                    </thead>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: #gs-footer"></div>

    </div>
</div>

</body>

</html>
