<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: #gs-header"></div>
<body>

<div class="wrapper">
    <div th:replace="fragments/sidebar :: #gs-sidebar"></div>

    <div class="main-panel">
        <div th:replace="fragments/navbar-header :: #gs-navbar-header"></div>


        <div class="content">
            <div class="container-fluid">

                <div class="row" th:if="${#bools.isFalse(customer)}">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="header">

                                <form class="typeahead" role="search">
                                    <div class="form-group">
                                        <input id="search" type="search" name="q" class="form-control search-input" data-provide="typeahead"  placeholder="Search"
                                               autocomplete="off" />
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <!--/*@thymesVar id="customer" type="com.geekhub.core.model.customer.Customer"*/-->
                <div class="row" th:if="${#bools.isTrue(customer)}">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <div class="image">
                                <img src="/static/img/background.jpg" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                    <img class="avatar border-white" src="/static/img/faces/face-2.jpg" alt="..."/>
                                    <h4 class="title" th:inline="text" >[[${customer.firstName}]] [[${customer.lastName}]]<br/>
                                        <a href="#">
                                            <small>@chetfaker</small>
                                        </a>
                                    </h4>
                                </div>
                                <p class="description text-center">
                                    "I like the way you work it <br>
                                    No diggity <br>
                                    I wanna bag it up"
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5 th:inline="text">[[${metrics.ordersCount}]]<br/>
                                            <small th:text="Orders">Orders</small>
                                        </h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 th:inline="text">[[${metrics.productsCount}]]<br/>
                                            <small>Products</small>
                                        </h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 th:inline="text">$[[${metrics.total}]]<br/>
                                            <small>Total</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!----------------------Left bottom panel------------------------------>

                        <div class="card">
                            <div class="header">
                                <h4 class="title">Credit Card</h4>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>CC Type</label>
                                                    <input type="text" class="form-control border-input" name="firstName"
                                                           placeholder="First Name" th:value="${customer.creditCard.getCreditCardType()}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>CC Number</label>
                                                    <input type="text" class="form-control border-input" name="firstName"
                                                           placeholder="First Name" th:value="${customer.creditCard.getCcNumber()}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>CC Cvv</label>
                                                    <input type="text" class="form-control border-input" name="firstName"
                                                           placeholder="First Name" th:value="${customer.creditCard.getCcCvv()}">
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>


                    <!----------------------Edit profile------------------------------>

                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <form method="post" th:attr="action=@{'/customers/' + ${customer.id}}">

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control border-input" name="firstName"
                                                       placeholder="First Name" th:value="${customer.firstName}">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control border-input" name="lastName"
                                                       placeholder="Last Name" th:value="${customer.lastName}">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Gender</label>
                                                <input type="text" class="form-control border-input" name="gender"
                                                       placeholder="Gender" th:value="${customer.gender}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Birth Date</label>
                                                <input type="text" class="form-control border-input" name="birthDate"
                                                       placeholder="BirthDate" th:value="${customer.birthDate}">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Telephone</label>
                                                <input type="text" class="form-control border-input" name="telephone"
                                                       placeholder="Telephone" th:value="${customer.telephone}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Email address</label>
                                                <input type="email" class="form-control border-input" name="emailAddress"
                                                       placeholder="Email" th:value="${customer.emailAddress}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="text" class="form-control border-input" name="password"
                                                       placeholder="First Name" th:value="${customer.password}">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control border-input" placeholder="City"
                                                       value="Melbourne">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" class="form-control border-input"
                                                       placeholder="Country" value="Australia">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Postal Code</label>
                                                <input type="number" class="form-control border-input"
                                                       placeholder="ZIP Code">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>CC Type</label>
                                                <input type="text" class="form-control border-input" name="creditCardType"
                                                       placeholder="First Name" th:value="${customer.creditCard.getCreditCardType()}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>CC Number</label>
                                                <input type="text" class="form-control border-input" name="ccNumber"
                                                       placeholder="First Name" th:value="${customer.creditCard.getCcNumber()}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>CC Cvv</label>
                                                <input type="text" class="form-control border-input" name="ccCvv"
                                                       placeholder="First Name" th:value="${customer.creditCard.getCcCvv()}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                                        <a class="btn btn-info btn-fill btn-wd" th:href="@{'/customers/' + ${customer.id} + '/delete'}">Delete Profile</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!----------------------Customer orders------------------------------>
                    <div class="col-lg-8 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Customer orders</h4>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Date</th>
                                        <th>Payment Type</th>
                                        <th>Shipping Type</th>
                                        <th>Telephone</th>
                                        <th>Total Price</th>
                                    </tr>
                                    </thead>

                                    <tbody id="content">
                                    <!--/*@thymesVar id="items" type="java.util.List"*/-->
                                    <tr class='clickable-row' th:each="order : ${orders}" th:href="@{'/orders/'+ ${order.id} +'/edit'}">
                                        <td th:text="${order.id}"></td>
                                        <td th:text="${order.lastModified}"></td>
                                        <td th:text="${order.paymentType}"></td>
                                        <td th:text="${order.shippingType}"></td>
                                        <td th:text="${order.contactTelephone}"></td>
                                        <td th:text="${order.totalPrice}"></td>
                                    </tr>
                                    </tbody>

                                </table>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: #gs-footer"></div>

    </div>
</div>

</body>

</html>
