<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: #gs-header"></div>
<!--/*@thymesVar id="page" type="com.geekhub.core.model.order.Order"*/-->

<script th:inline="javascript">
    var pageCount = [[${page.pageCount}]];
    var page = [[${page.page}]];
    var perPage = [[${page.perPage}]];
    paginCarousel(page, perPage, pageCount);
</script>

<body>

<div class="wrapper">
    <div th:replace="fragments/sidebar :: #gs-sidebar"></div>
    
    <div class="main-panel">
        <div th:replace="fragments/navbar-header :: #gs-navbar-header"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">Orders</h4>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Date</th>
                                        <th>Payment Type</th>
                                        <th>Shipping Type</th>
                                        <th>Total Price</th>
                                        <th>Contact Telephone</th>
                                    </tr>
                                    </thead>

                                    <tbody id="content">

                                    <tr class='clickable-row' th:each="order : ${page.items}" th:href="@{'/orders/'+ ${order.id} +'/edit'}">
                                        <!--/*@thymesVar id="order" type="com.geekhub.core.model.order.Order"*/-->
                                        <td th:text="${order.id}"></td>
                                        <td th:text="${order.lastModified}"></td>
                                        <td th:text="${order.paymentType}"></td>
                                        <td th:text="${order.shippingType}"></td>
                                        <td th:text="${order.totalPrice}"></td>
                                        <td th:text="${order.contactTelephone}"></td>
                                    </tr>
                                    </tbody>

                                </table>

                                <table align="center">
                                    <thead>
                                    <tr>
                                        <th><a class="btn btn-default" th:href="@{/orders(pageId=1)}">first</a></th>
                                        <th><a class="btn btn-default" th:href="@{/orders(page=${page.page == 1 ? 1 : page.page - 1})}">prev</a></th>

                                        <th id="pagin_carousel">

                                        </th>

                                        <th><a class="btn btn-default" th:href="@{/orders(pageId=${page.page == page.pageCount ? page.page : page.page + 1})}">next</a></th>
                                        <th><a class="btn btn-default" th:href="@{/orders(pageId=${page.pageCount})}">last</a></th>
                                    </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="http://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>

</html>
