<!DOCTYPE html  "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: #gs-header"></div>

<script th:inline="javascript">
    var pageCount = [[${page.pageCount}]];
    var page = [[${page.page}]];
    var perPage = [[${page.perPage}]];
    paginCarousel(page, perPage, pageCount);
</script>

<body>
<div class="wrapper">

    <div th:replace="fragments/sidebar :: #gs-sidebar"></div>

    <div class="main-panel">
        <div th:replace="fragments/navbar-header :: #gs-navbar-header"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">

                                <form class="typeahead" role="search">
                                    <div class="form-group">
                                        <input id="search" type="search" name="q" class="form-control search-input"
                                               data-provide="typeahead" placeholder="Search"
                                               autocomplete="off"/>
                                    </div>
                                </form>
                            </div>

                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Length</th>
                                        <th>Width</th>
                                        <th>Height</th>
                                        <th>Weight</th>
                                        <th>Price</th>
                                    </tr>
                                    </thead>

                                    <tbody id="content">
                                    <!--/*@thymesVar id="items" type="java.util.List"*/-->
                                    <tr class='clickable-row' th:each="product : ${page.items}"
                                        th:href="@{'/product/'+ ${product.id} +'/edit'}">
                                        <td th:text="${product.id}"></td>
                                        <td th:text="${product.productType}"></td>
                                        <td th:text="${product.description.title}"></td>
                                        <td th:text="${product.category.description.title}"></td>
                                        <td th:text="${product.productLength}"></td>
                                        <td th:text="${product.productWidth}"></td>
                                        <td th:text="${product.productHeight}"></td>
                                        <td th:text="${product.productWeight}"></td>
                                        <td th:text="${product.price}"></td>
                                    </tr>
                                    </tbody>

                                </table>

                                <table align="center">
                                    <thead>
                                    <tr>
                                        <th><a class="btn btn-default" th:href="@{/product(pageId=1)}">first</a>
                                        </th>
                                        <th><a class="btn btn-default"
                                               th:href="@{/product(pageId=${page.page == 1 ? 1 : page.page - 1})}">prev</a></th>

                                        <th id="pagin_carousel">

                                        </th>

                                        <th><a class="btn btn-default"
                                               th:href="@{/product(pageId=${page.page == page.pageCount ? page.page : page.page + 1})}">next</a></th>
                                        <th><a class="btn btn-default"
                                               th:href="@{/product(pageId=${page.pageCount})}">last</a></th>
                                    </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: #gs-footer"></div>

    </div>
</div>

</body>

</html>
