<head id="shop-header">
    <meta charset="UTF-8">
    <title>Geek Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fav Icon -->
    <link id="favicon" rel="icon" type="image/png" href="/static/img/favicon.ico" />
    <!-- Google Font Raleway -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:200,300,500,400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Google Font Dancing Script -->
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.min.css" />
    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.min.css" />
    <!-- simpleLens CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.simpleLens.css" />
    <!-- Price Slider CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-price-slider.css" />
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/meanmenu.min.css" />
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css" />
    <!-- Nivo Slider CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/nivo-slider.css" />
    <!-- Stylesheet CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" />
</head>