<div id="header-top-bar" class="header-top"><!--Start Header Top Area-->
    <script>
        $(document).ready(function () {
            headerCartInfo();
        })
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-offset-1 col-lg-2">
                <div class="info">
                    <div class="phn-num float-left">
                        <i class="fa fa-phone float-left"></i>
                        <p>(000)  123  288  456 </p>
                    </div>
                    <div class="mail-id float-left">
                        <i class="fa fa-envelope-o float-left"></i>
                        <p><a href="#">info@olongker.com</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-4 ">
                <div class="search-top">
                    <!--<input type="text" value="" placeholder="Search Here...." />-->

                    <form class="typeahead" role="search">
                        <div class="form-group">
                            <input  type="search" name="q" class="form-control search-input"
                                   data-provide="typeahead" placeholder="Search"
                                   autocomplete="off"/>
                        </div>
                    </form>

                    <button class="submit"><i class="fa fa-searchCustomer"></i></button>
                </div>
            </div>


            <div class="col-sm-12 col-lg-3">
                <div id="top-menu" class="float-right">
                    <ul>
                        <li><a href="">My Account</a></li>
                        <li><a href="">$USD <i class="fa fa-angle-down"></i></a>
                            <ul>
                                <li><a href="">Pound</a></li>
                                <li><a href="">BDT</a></li>
                            </ul>
                        </li>
                        <li><a href="">English(UK) <i class="fa fa-angle-down"></i></a>
                            <ul>
                                <li><a href="">English(USA)</a></li>
                                <li><a href="">Bangla</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12   col-lg-2">
                <div class="log-link">
                    <div class="cart-info float-left">
                        <a href="/cart" onclick="toUrlRequiredAuth('/cart')">
                            <h5 >My cart <span id="header-card-items">0</span> items - <span id="header-card-price">$0</span></h5>
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <h5 id="login-logout">
                            <!--jquery render-->
                        </h5>

                        <div class="cart-hover">
                            <ul id="header-cart-info" class="header-cart-pro">

                            </ul>
                            <div class="header-button-price">
                                <a href="/order" onclick="toUrlRequiredAuth('/order')"><i class="fa fa-sign-out"></i><span>Check Out</span></a>
                                <div class="total-price"><h3>Total Price : <span id="header-cart-total-price">$0</span></h3></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div><!--End Header Top Area-->