<div id="main-menu" class="menu-area"><!--Start Main Menu Area-->
    <div class="container">
        <div class="row">
            <div class="clo-md-12">
                <div class="main-menu hidden-sm hidden-xs">
                    <nav>
                        <ul>
                            <li>
                                <a href="/home" class="active">Home</a>
                            </li>

                            <li><a href="/shop">Shop</a>
                                <div class="mega-menu mega-menu-1">
                                    <div class="column-1 column">
                                        <ul>
                                            <li><a href="shop-list.html">rings</a></li>
                                            <li><a href="shop-left-sidebar.html">diamond ring</a></li>
                                            <li><a href="shop-right-sidebar.html">gold ring</a></li>
                                            <li><a href="shop-list.html">sliver ring</a></li>
                                            <li><a href="shop-left-sidebar.html">Platinum ring</a></li>
                                        </ul>
                                    </div>
                                    <div class="column-2 column">
                                        <ul>
                                            <li><a href="shop-list.html">Bracelets</a></li>
                                            <li><a href="shop-left-sidebar.html">diamond Bracelets</a></li>
                                            <li><a href="shop-right-sidebar.html">gold Bracelets</a></li>
                                            <li><a href="shop-left-sidebar.html">sliver Bracelets</a></li>
                                            <li><a href="shop-right-sidebar.html">Platinum Bracelets</a></li>
                                        </ul>
                                    </div>
                                    <div class="column-3 column">
                                        <ul>
                                            <li><a href="shop-list.html">lecklaces</a></li>
                                            <li><a href="shop-right-sidebar.html">diamond lecklaces</a></li>
                                            <li><a href="shop-left-sidebar.html">gold lecklaces</a></li>
                                            <li><a href="shop-right-sidebar.html">sliver lecklaces</a></li>
                                            <li><a href="shop-left-sidebar.html">Platinum lecklaces</a></li>
                                        </ul>
                                    </div>
                                    <div class="column-4 column">
                                        <a href="#"><img src="/static/img/product/10.jpg" alt="" /></a>
                                    </div>
                                </div>
                            </li>
                            <li><a href="shop.html">New Arrivals</a>
                                <div class="mega-menu mega-menu-1">
                                    <div class="column-1 column">
                                        <ul>
                                            <li><a href="shop-list.html">rings</a></li>
                                            <li><a href="shop-left-sidebar.html">diamond ring</a></li>
                                            <li><a href="shop-right-sidebar.html">gold ring</a></li>
                                            <li><a href="shop-list.html">sliver ring</a></li>
                                            <li><a href="shop-left-sidebar.html">Platinum ring</a></li>
                                        </ul>
                                    </div>
                                    <div class="column-2 column">
                                        <ul>
                                            <li><a href="shop-list.html">Bracelets</a></li>
                                            <li><a href="shop-left-sidebar.html">diamond Bracelets</a></li>
                                            <li><a href="shop-right-sidebar.html">gold Bracelets</a></li>
                                            <li><a href="shop-left-sidebar.html">sliver Bracelets</a></li>
                                            <li><a href="shop-right-sidebar.html">Platinum Bracelets</a></li>
                                        </ul>
                                    </div>
                                    <div class="column-3 column">
                                        <ul>
                                            <li><a href="shop-list.html">lecklaces</a></li>
                                            <li><a href="shop-right-sidebar.html">diamond lecklaces</a></li>
                                            <li><a href="shop-left-sidebar.html">gold lecklaces</a></li>
                                            <li><a href="shop-right-sidebar.html">sliver lecklaces</a></li>
                                            <li><a href="shop-left-sidebar.html">Platinum lecklaces</a></li>
                                        </ul>
                                    </div>
                                    <div class="column-4 column">
                                        <ul>
                                            <li><a href="shop-right-sidebar.html">earrings</a></li>
                                            <li><a href="shop-list.html">diamond earrings</a></li>
                                            <li><a href="shop-left-sidebar.html">gold earrings</a></li>
                                            <li><a href="shop-list.html">sliver earrings</a></li>
                                            <li><a href="shop-left-sidebar.html">Platinum earrings</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <a id="connect" href="/chat" class="active" >Chat</a>
                            </li>

                            <li><a href="portfolio.html">Portfolio</a>
                                <ul class="sub-menu">
                                    <li><a href="portfolio.html">Portfolio 3 column</a></li>
                                    <li><a href="portfolio-2.html">Portfolio 4 column</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog Page</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="contact.html">Contact</a>
                                <ul class="sub-menu">
                                    <li><a href="contact.html">Contact 1</a></li>
                                    <li><a href="contact-2.html">Contact 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="mobile-menu hidden-md hidden-lg">
                    <nav>
                        <ul>
                            <li><a href="index.html" class="active">Home</a>
                                <ul>
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li><a href="about-us.html">About US</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                                    <li><a href="blog-details.html">Blog details</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="coming-soon.html">Coming soon</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="contact-2.html">Contact 2</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="portfolio.html">Portfolio 3 column</a></li>
                                    <li><a href="portfolio-2.html">Portfolio 4 column</a></li>
                                    <li><a href="404.html">404</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="shop-list.html">Shop list</a></li>
                                    <li><a href="shop-left-sidebar.html">Shop left sidebar</a></li>
                                    <li><a href="shop-right-sidebar.html">Shop right sidebar</a></li>
                                    <li><a href="product-details.html">Product details</a></li>
                                </ul>
                            </li>
                            <li><a href="shop.html">Shop</a>
                                <ul>
                                    <li><a href="shop-list.html">rings</a>
                                        <ul>
                                            <li><a href="shop-left-sidebar.html">diamond ring</a></li>
                                            <li><a href="shop-right-sidebar.html">gold ring</a></li>
                                            <li><a href="shop-list.html">sliver ring</a></li>
                                            <li><a href="shop-left-sidebar.html">Platinum ring</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-list.html">Bracelets</a>
                                        <ul>
                                            <li><a href="shop-left-sidebar.html">diamond Bracelets</a></li>
                                            <li><a href="shop-right-sidebar.html">gold Bracelets</a></li>
                                            <li><a href="shop-left-sidebar.html">sliver Bracelets</a></li>
                                            <li><a href="shop-right-sidebar.html">Platinum Bracelets</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-list.html">lecklaces</a>
                                        <ul>
                                            <li><a href="shop-right-sidebar.html">diamond lecklaces</a></li>
                                            <li><a href="shop-left-sidebar.html">gold lecklaces</a></li>
                                            <li><a href="shop-right-sidebar.html">sliver lecklaces</a></li>
                                            <li><a href="shop-left-sidebar.html">Platinum lecklaces</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="shop.html">New Arrivals</a>
                                <ul>
                                    <li><a href="shop-list.html">rings</a>
                                        <ul>
                                            <li><a href="shop-left-sidebar.html">diamond ring</a></li>
                                            <li><a href="shop-right-sidebar.html">gold ring</a></li>
                                            <li><a href="shop-list.html">sliver ring</a></li>
                                            <li><a href="shop-left-sidebar.html">Platinum ring</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-list.html">Bracelets</a>
                                        <ul>
                                            <li><a href="shop-left-sidebar.html">diamond Bracelets</a></li>
                                            <li><a href="shop-right-sidebar.html">gold Bracelets</a></li>
                                            <li><a href="shop-left-sidebar.html">sliver Bracelets</a></li>
                                            <li><a href="shop-right-sidebar.html">Platinum Bracelets</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-list.html">lecklaces</a>
                                        <ul>
                                            <li><a href="shop-right-sidebar.html">diamond lecklaces</a></li>
                                            <li><a href="shop-left-sidebar.html">gold lecklaces</a></li>
                                            <li><a href="shop-right-sidebar.html">sliver lecklaces</a></li>
                                            <li><a href="shop-left-sidebar.html">Platinum lecklaces</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-right-sidebar.html">earrings</a>
                                        <ul>
                                            <li><a href="shop-right-sidebar.html">diamond lecklaces</a></li>
                                            <li><a href="shop-left-sidebar.html">gold earrings</a></li>
                                            <li><a href="shop-list.html">sliver earrings</a></li>
                                            <li><a href="shop-left-sidebar.html">Platinum earrings</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="portfolio.html">Portfolio</a>
                                <ul>
                                    <li><a href="portfolio.html">Portfolio 3 column</a></li>
                                    <li><a href="portfolio-2.html">Portfolio 4 column</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Blog 1</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog 2</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog 3</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="contact.html">Contact</a>
                                <ul>
                                    <li><a href="contact.html">Contact 1</a></li>
                                    <li><a href="contact-2.html">Contact 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div><!--End Main Menu Area-->