<div id="shop-scripts">
    <!-- jQuery 2.1.4 -->
    <script type="text/javascript" src="/static/js/lib/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap JS -->
    <script type="text/javascript" src="/static/js/lib/bootstrap.min.js"></script>
    <!-- Owl Carousel JS -->
    <script type="text/javascript" src="/static/js/lib/owl.carousel.min.js"></script>
    <!--countTo JS -->
    <script type="text/javascript" src="/static/js/lib/jquery.countTo.js"></script>
    <!-- mixitup JS -->
    <script type="text/javascript" src="/static/js/lib/jquery.mixitup.min.js"></script>
    <!-- magnific popup JS -->
    <script type="text/javascript" src="/static/js/lib/jquery.magnific-popup.min.js"></script>
    <!-- Appear JS -->
    <script type="text/javascript" src="/static/js/lib/jquery.appear.js"></script>
    <!-- MeanMenu JS -->
    <script type="text/javascript" src="/static/js/lib/jquery.meanmenu.min.js"></script>
    <!-- Nivo Slider JS -->
    <script type="text/javascript" src="/static/js/lib/jquery.nivo.slider.pack.js"></script>
    <!-- Scrollup JS -->
    <script type="text/javascript" src="/static/js/lib/jquery.scrollup.min.js"></script>
    <!-- simpleLens JS -->
    <script type="text/javascript" src="/static/js/lib/jquery.simpleLens.min.js"></script>
    <!-- Price Slider JS -->
    <script type="text/javascript" src="/static/js/lib/jquery-price-slider.js"></script>
    <!-- WOW JS -->
    <script type="text/javascript" src="/static/js/lib/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
     <!--Main JS-->
    <script type="text/javascript" src="/static/js/main.js"></script>

    <script type="text/javascript" src="/static/js/lib/typeahead.js"></script>

    <script type="text/javascript" src="/static/js/geek_shop.js"></script>

</div>